* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
body {
    background-color: #131415;

}
.ellipses{
    position: fixed;
    z-index: -3;
    top: 337px;
    overflow: hidden;
}
.e1{
    opacity: 50%;
}
.ellipses2{
    position: fixed;
    z-index: -2;
    top: 587px;
    right: 0px;
    overflow: hidden;
}
.e2{
    opacity: 50%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px

}
.profile {
    margin-bottom: 18px;
}
.text-color {
    font-family: 'Inter';
    margin-bottom: 10px;
    text-align: center;
}
.text-color_p {
    color: #878989;
}

.text-color_h1 {
    color: #FFFFFF;
}
.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

tr:first-child td:first-child{
    border-top-left-radius: 10px;
}

tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-child td:last-child { border-bottom-right-radius: 10px;
}

tr:first-child td {
    border-top-style: 0 solid;
}

tr td:first-child {
    border-left-style: 0 solid;
}

.ellipse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-center;
    background-image: linear-gradient(155.98deg, #2F1DFF 13.91%, #6D60FF 100.59%);
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-left: 20px;
    cursor: pointer;
    transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition-duration:400ms;
    transform:scale(1.1,1.1) translate3d(0,0,0);
}

.ellipse:hover
{
    transform:scale(1.2,1.2) translate3d(0,0,0);
}
.icon {
    margin: auto;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}
.bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}
.choice {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    padding-bottom: 21px;
    cursor: pointer;
    box-sizing:border-box;
}
#choice1 {
    border-bottom: 2px solid #4A3AFF;
}
#choice2 {
    border-bottom: 0px solid #4A3AFF;
}
#choice3 {
    border-bottom: 0px solid #4A3AFF;
}
.bord_i {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 48px;
    height: 48px;
    border-radius: 14px;
    background-color: #18172B;
    margin-right: 17px;
}
.bord_i img {
    margin: auto;
}
.choice h2 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
}

.hr1 {
    position: absolute ;
    height: 1px;
    background-color: #262729;
    width: 99vw;
    top : 492px;
    /* margin-top: 14px; */
    border: none;
    z-index: -1;
}
.counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 118px; */
    width: 259px;
    height: 94px;
    background: #17181A;
    border-radius: 47px;
    padding-left: 10px;
    padding-right: 35px;
    cursor: pointer;
}

.mail_c{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: #1C1D1F;
}

.text_c {
    display: flex;
    flex-direction: column;
}
.text_c h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 5px;
    color: #51535B;
}

.text_c h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 18px;
    letter-spacing: -0.1em;
    color: #FFFFFF;
}
.table {
    border-collapse:collapse;
    border-radius: 17px;
    width: 1167px;
    text-align: start;
    border-radius: 10px;
    background-color: #1B1C1D;
    border-spacing: 0;
}
.t_head {
    width: max-content;
    background-color: #6153FE;
    border-radius: 30px;
}

.spp {
    padding-top: 17px;
    padding-bottom: 17px;
}
td {
    padding-left: 25px;
    
}
.tag {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}
.vouch {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}
.std {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.sp {
    padding-top: 17px;
    padding-bottom: 17px;
}
.right_i {
    margin-left: 11px;
    position: relative;
    top: 3px;
}
.left_i {
    margin-right: 7px;
    position: relative;
    top: 3px;
}
.change_c {
    background-color: #17181A;
}
.tabled{
    width: fit-content;
    height: 1230px;
    background-color: #171819;
    border-radius: 18px;
    margin-bottom: 100px;
    margin-top: 50px;
}
#content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
#content2 {
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
#content3 {
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.b1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1167px;
    height: 274px;
    background-color: #171819;
    border-radius: 14px;
    margin-bottom: 80px;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box img{
    margin-top: 50px;
    margin-bottom: 26px;
    margin-left: auto;
    margin-right: auto;
}
.box p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
.visitew{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 271px;
    height: 64px;
    background: linear-gradient(155.98deg, #2F1DFF 13.91%, #6D60FF 100.59%);
    border-radius: 32px;
    position: relative;
    top: 62px;
    cursor: pointer;
}
.visitew p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.visitew img {
    margin: auto 0;
    margin-left: 10px;
}
.box3{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1167px;
    height: 372px;
    background: #171819;
    border-radius: 10px;
    margin-bottom: 50px;
}
.profile_j img{
    border-radius: 50%;
    border: 8px solid #FFFFFF;
    margin-left: 50px;
}
.about_u{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.about_u h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 50px;
    color: #FFFFFF;
    margin-bottom: 3px;
}
.about_u h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 20px;
    color: #6C6C73;
}
.about_u p{
    width: 78%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}
.links_u {
    display: flex;
    flex-direction: row;
    
}
.linkto_u{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    height: 40px;
    background-color: #2F1DFF;
    background: linear-gradient(155.98deg, #2F1DFF 13.91%, #6D60FF 100.59%);
    border-radius: 32px;
    padding-right: 10px;
    margin-top: 44px;
    margin-right: 14px;
    cursor: pointer;

}
.vline{
    display: inline;
    width: 3px;
    margin: 0 10px;
    height: 17.5px;
    border: none;
    border-radius: 64px;
    background-color: #FFFFFF;
    opacity: 10%;
}
.linkto_u img {
    width: 18px;

    margin-left: 10px;
}
.linkto_u p{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    text-align: center;

    color: #FFFFFF;
    width: 100%;
}
@media (max-width: 1448px) {
    .table {
        width: 1049px
    }
    .b1 {
        width: 1100px;
    }
    .box3 {
        width: 1092px;
    }
}
@media (max-width: 1180px) {
    .table {
        width: 984px;
    }
    .b1 {
        width: 862px;
    }
    .box3 {
        width: 862px;
    }
    .box p {
        font-size: 12px;
    }
}
@media (max-width: 1050px) {
    .table {
        width: 835px;
    }
    .b1 {
        width: 657px;
    }
    .box3 {
        width: 746px;
    }
    .box p {
        font-size: 12px;
    }
    .about_u p {
        font-size: 10px;
        line-height: 15px;
    }
}
@media (max-width: 960px) {
    .table {
        width: 766px;
    }
    .b1 {
        width: 657px;
    }
    .box3 {
        width: 746px;
    }
    .box p {
        font-size: 12px;
    }
    .about_u p {
        font-size: 10px;
        line-height: 15px;
    }
    .choice h2 {
        font-size: 14px;
    }
    .tag{
        font-size: 12px;
    }
    .std{
        font-size: 12px;
    }
}

@media (max-width: 790px) and (min-width: 712px) {
    .table {
        width: 684px;
    }
    .b1 {
        width: 657px;
    }
    .box3 {
        width: 647px;
    }
    .box p {
        font-size: 12px;
    }
    .about_u p {
        font-size: 8px;
        line-height: 15px;
    }
    .choice h2 {
        font-size: 10px;
    }
    .tag{
        font-size: 12px;
    }
    .std{
        font-size: 10px;
    }
    .counter {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        /* margin-top: 118px; */
        width: 245px;
        height: 84px;
        background: #17181A;
        border-radius: 47px;
        padding-left: 10px;
        padding-right: 35px;
        cursor: pointer;
    }
    td {
        padding-right: 3px;
    }
    .linkto_u {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: fit-content;
        height: 40px;
        background-color: #2F1DFF;
        background: linear-gradient(155.98deg, #2F1DFF 13.91%, #6D60FF 100.59%);
        border-radius: 32px;
        padding-right: 5px;
        margin-top: 44px;
        margin-right: 9px;
        cursor: pointer;
    }
    .vline {
        margin: 0 5px;
    }
}

@media (max-width: 711px) and (min-width: 648px) {
    .table {
        width: 592px;
    }
    .b1 {
        width: 577px;
        margin-bottom: 60px;
    }
    .box3 {
        width: 570px;
    }
    .box p {
        font-size: 12px;
    }
    .about_u p {
        font-size: 8px;
        line-height: 15px;
    }
    .choice h2 {
        font-size: 10px;
    }
    .tag{
        font-size: 12px;
    }
    .std{
        font-size: 12px;
    }
    .counter {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        /* margin-top: 118px; */
        width: 245px;
        height: 84px;
        background: #17181A;
        border-radius: 47px;
        padding-left: 10px;
        padding-right: 35px;
        cursor: pointer;
    }
    .linkto_u {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: fit-content;
        height: 40px;
        background-color: #2F1DFF;
        background: linear-gradient(155.98deg, #2F1DFF 13.91%, #6D60FF 100.59%);
        border-radius: 32px;
        padding-right: 5px;
        margin-top: 20px;
        margin-right: 9px;
        cursor: pointer;
    }
    .vline {
        margin: 0 5px;
    }
    .links_u {

        flex-wrap: wrap;
    }
    .vouch {
        font-size: 10px;
    }
}

@media (max-width: 647px) and (min-width: 607px) {
    .table {
        width: 592px;
    }
    .b1 {
        width: 577px;
    }
    .box3 {
        width: 570px;
    }
    .box p {
        font-size: 12px;
    }
    .about_u p {
        font-size: 8px;
        line-height: 15px;
    }
    .choice h2 {
        font-size: 8px;
    }
    .tag{
        font-size: 12px;
    }
    .std{
        font-size: 10px;
    }
    .counter {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        /* margin-top: 118px; */
        width: 245px;
        height: 84px;
        background: #17181A;
        border-radius: 47px;
        padding-left: 10px;
        padding-right: 35px;
        cursor: pointer;
    }
    .linkto_u {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: fit-content;
        height: 40px;
        background-color: #2F1DFF;
        background: linear-gradient(155.98deg, #2F1DFF 13.91%, #6D60FF 100.59%);
        border-radius: 32px;
        padding-right: 5px;
        margin-top: 20px;
        margin-right: 9px;
        cursor: pointer;
    }
    .vline {
        margin: 0 5px;
    }
    .links_u {

        flex-wrap: wrap;
    }
    .vouch {
        font-size: 10px;
    }
    .text-color_p {
        font-size: 10px;
    }
    .hr1{
        top: 477px; 
    }
}

@media (max-width: 606px) and (min-width: 526px) {
    .table {
        width: 477px;
    }
    .b1 {
        width: 372px;
    }
    .box3 {
        width: 453px;
        height: 317px;
    }
    .box p {
        font-size: 6px;
        line-height: 15px;
    }
    .about_u p {
        font-size: 8px;
        line-height: 15px;
    }
    .about_u h2{
        font-size: 18px;
        margin-bottom: -18px;
    }
    .about_u h3{
        font-size: 15px;
    }
    .choice h2 {
        font-size: 6px;
    }
    td {
        padding-left: 9px;
    }
    .tag{
        font-size: 12px;
    }
    .std{
        font-size: 8px;
    }
    .counter {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        /* margin-top: 118px; */
        width: 245px;
        height: 84px;
        background: #17181A;
        border-radius: 47px;
        padding-left: 10px;
        padding-right: 35px;
        cursor: pointer;
    }
    .linkto_u {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: fit-content;
        height: 40px;
        background-color: #2F1DFF;
        background: linear-gradient(155.98deg, #2F1DFF 13.91%, #6D60FF 100.59%);
        border-radius: 32px;
        padding-right: 5px;
        margin-top: 20px;
        margin-right: 9px;
        cursor: pointer;
    }
    .vline {
        margin: 0 5px;
    }
    .links_u {

        flex-wrap: wrap;
    }
    .vouch {
        font-size: 10px;
    }
    .text-color_p {
        font-size: 10px;
    }
    .hr1{
        top: 477px; 
    }
    .visitew{
        top: 10px;
    }
    .visitew p {
        font-size: 12px;
    }
    .fast{
        width: 112px;
    }
    .profile_j img {
        width: 130px;
    }
}

@media (max-width: 527px) and (min-width: 458px) {
    .table {
        width: 414px;
    }
    .b1 {
        width: 372px;
    }
    .box3 {
        width: 453px;
        height: 317px;
    }
    .box p {
        font-size: 6px;
        line-height: 15px;
    }
    .about_u p {
        font-size: 8px;
        line-height: 15px;
    }
    .about_u h2{
        font-size: 18px;
        margin-bottom: -18px;
    }
    .about_u h3{
        font-size: 15px;
    }
    .choice h2 {
        font-size: 6px;
        
    }
    .tag{
        font-size: 12px;
    }
    .std{
        font-size: 8px;
    }
    .counter {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        /* margin-top: 118px; */
        width: 245px;
        height: 84px;
        background: #17181A;
        border-radius: 47px;
        padding-left: 10px;
        padding-right: 35px;
        cursor: pointer;
    }
    .linkto_u {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: fit-content;
        height: 40px;
        background-color: #2F1DFF;
        background: linear-gradient(155.98deg, #2F1DFF 13.91%, #6D60FF 100.59%);
        border-radius: 32px;
        padding-right: 5px;
        margin-top: 20px;
        margin-right: 9px;
        cursor: pointer;
    }
    .vline {
        margin: 0 5px;
    }
    .links_u {

        flex-wrap: wrap;
    }
    .vouch {
        font-size: 10px;
    }
    .text-color_p {
        font-size: 10px;
    }
    .hr1{
        top: 442px; 
    }
    .visitew{
        top: 10px;
    }
    .visitew p {
        font-size: 12px;
    }
    .fast{
        width: 112px;
    }
    .profile_j img {
        width: 130px;
    }
    .bord_i {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 23px;
        height: 25px;
        border-radius: 14px;
        background-color: #18172B;
        margin-right: 17px;
    }
    .bord_i img {
        width: 50%;
    }
    .right_i{
        display: none;

    }
    .left_i{
        display: none;
    }
    .choice{
        padding-bottom: 9px;
    }
}

@media (max-width: 457px) and (min-width: 423px) {
    .table {
        width: 389px;
    }
    .b1 {
        width: 372px;
    }
    .box3 {
        width: 388px    ;
        height: 480px;
        flex-direction: column;
    }
    .box p {
        font-size: 6px;
        line-height: 15px;
    }
    .about_u p {
        font-size: 8px;
        line-height: 15px;
    }
    .about_u h2{
        font-size: 18px;
        margin-bottom: -18px;
    }
    .choice {
        margin-right: 30px;
    }
    .about_u h3{
        font-size: 15px;
    }
    .choice h2 {
        font-size: 6px;
        
    }
    .tag{
        font-size: 12px;
    }
    .std{
        font-size: 8px;
    }
    .counter {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        /* margin-top: 118px; */
        width: 245px;
        height: 84px;
        background: #17181A;
        border-radius: 47px;
        padding-left: 10px;
        padding-right: 35px;
        cursor: pointer;
    }
    .linkto_u {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: fit-content;
        height: 40px;
        background-color: #2F1DFF;
        background: linear-gradient(155.98deg, #2F1DFF 13.91%, #6D60FF 100.59%);
        border-radius: 32px;
        padding-right: 5px;
        margin-top: 20px;
        margin-right: 9px;
        cursor: pointer;
    }
    .vline {
        margin: 0 5px;
    }
    .links_u {

        flex-wrap: wrap;
    }
    .vouch {
        font-size: 10px;
    }
    .text-color_p {
        font-size: 10px;
    }
    .hr1{
        top: 440px; 
    }
    .visitew{
        top: 10px;
    }
    .visitew p {
        font-size: 12px;
    }
    .fast{
        width: 112px;
    }
    .profile_j img {
        width: 112px;
        margin-top: 10px;
    }
    .bord_i {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 23px;
        height: 25px;
        border-radius: 14px;
        background-color: #18172B;
        margin-right: 17px;
    }
    .bord_i img {
        width: 50%;
    }
    .right_i{
        display: none;

    }
    .left_i{
        display: none;
    }
    .choice{
        padding-bottom: 7px;
    }
    .e1{
        display: none;
    }
    .e2{
        display: none;
    }
}
@media (max-width: 422px) and (min-width: 363px) {
    .table {
        width: 335px;
    }
    .b1 {
        width: 303px;
        height: 182px;
    }
    .box3 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 328px;
        height: 313px;
    }
    .box p {
        font-size: 6px;
        line-height: 15px;
    }
    .vouch {
        font-size: 5px;
    }
    .about_u p {
        font-size: 8px;
        line-height: 15px;
    }
    .about_u h2{
        font-size: 18px;
        margin-bottom: -18px;
    }
    .choice {
        margin-right: 30px;
    }
    .about_u h3{
        font-size: 15px;
    }
    .choice h2 {
        font-size: 6px;
        
    }
    .tag{
        font-size: 6px;
    }
    .std{
        font-size: 6px;
    }
    .counter {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        /* margin-top: 118px; */
        width: 245px;
        height: 84px;
        background: #17181A;
        border-radius: 47px;
        padding-left: 10px;
        padding-right: 35px;
        cursor: pointer;
    }
    .e2{
        display: none;
    }
    .e1{
        display: none;
    }
    .linkto_u {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 34px;
        height: 34px;
        background-color: #2F1DFF;
        background: linear-gradient(155.98deg, #2F1DFF 13.91%, #6D60FF 100.59%);
        border-radius: 32px;
        padding-right: 5px;
        margin-top: 20px;
        margin-right: 9px;
        cursor: pointer;
        position: relative;
        left: 0;
        margin-bottom: 10px;
    }
    .linkto_u img {
        width: 18px;
        margin-left: 8px;
    }
    .vline {
        margin: 0 5px;
    }
    .links_u {

        flex-wrap: nowrap;
    }
    .text-color_p {
        font-size: 8px;
    }
    .hr1{
        top: 436px; 
    }
    .visitew{
        top: 10px;
    }
    .visitew p {
        font-size: 12px;
    }
    .fast{
        width: 112px;
    }
    .profile_j img {
        width: 99px;
        margin: 0;
    }
    .bord_i {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 23px;
        height: 25px;
        border-radius: 14px;
        background-color: #18172B;
        margin-right: 10px;
    }
    .bord_i img {
        width: 50%;
    }
    .right_i{
        display: none;
        
    }
    .left_i{
        display: none;
    }
    .vouch {
        font-size: 6px;
    }
    .text_c h2{
        font-size: 21px;
    }
    .text_c h3{
        font-size: 14px;
    }
    .grr{
        display: none;
    }
    .vline{
        display: none;
    }
    .choice{
        padding-bottom: 7px;
    }
}

@media (max-width: 362px) and (min-width: 300px) {
    .table {
        width: 282px;
    }
    .b1 {
        width: 294px;
        height: 182px;
    }
    td {
        padding-right: 3px;
    }
    .box3 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 276px;
        height: 352px;
    }
    .box p {
        font-size: 6px;
        line-height: 15px;
    }
    .vouch {
        font-size: 5px;
    }
    .about_u p {
        font-size: 8px;
        line-height: 15px;
    }
    .about_u h2{
        font-size: 18px;
        margin-bottom: -18px;
    }
    .choice {
        margin-right: 30px;
        padding-bottom: 7px;
    }
    .about_u h3{
        font-size: 15px;
    }
    .choice h2 {
        font-size: 4px;
        
    }
    .tag{
        font-size: 6px;
    }
    .std{
        font-size: 6px;
    }
    .counter {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        /* margin-top: 118px; */
        width: 245px;
        height: 84px;
        background: #17181A;
        border-radius: 47px;
        padding-left: 10px;
        padding-right: 35px;
        cursor: pointer;
    }
    .linkto_u {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 34px;
        height: 34px;
        background-color: #2F1DFF;
        background: linear-gradient(155.98deg, #2F1DFF 13.91%, #6D60FF 100.59%);
        border-radius: 32px;
        padding-right: 5px;
        margin-top: 20px;
        margin-right: 9px;
        cursor: pointer;
        position: relative;
        left: 0;
        margin-bottom: 10px;
    }
    .linkto_u img {
        width: 18px;
        margin-left: 8px;
    }
    .vline {
        margin: 0 5px;
    }
    .links_u {

        flex-wrap: nowrap;
    }
    .text-color_p {
        font-size: 8px;
    }
    .hr1{
        top: 436px; 
    }
    .visitew{
        top: 10px;
    }
    .visitew p {
        font-size: 12px;
    }
    .fast{
        width: 112px;
    }
    .profile_j img {
        width: 99px;
        margin: 0;
    }
    .bord_i {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 23px;
        height: 25px;
        border-radius: 14px;
        background-color: #18172B;
        margin-right: 10px;
    }
    .bord_i img {
        width: 50%;
    }
    .right_i{
        display: none;
        
    }
    .left_i{
        display: none;
    }
    .vouch {
        font-size: 6px;
    }
    .text_c h2{
        font-size: 21px;
    }
    .text_c h3{
        font-size: 14px;
    }
    .grr{
        display: none;
    }
    .vline{
        display: none;
    }
    .e1{
        display: none;
    }
    .e2{
        display: none;
    }
}